.chess, .glue { float: left; clear: right; margin:3px; width:180px; }
.chess { width:220px; }
.chess img { margin-right: 8px; margin-bottom: 5px; width:80px; height:120px; }

#productdetail { margin:3px; }
#productdetail img { margin-right: 8px; margin-bottom: 5px; }

.divider { height:1px; width:100%; clear: both; }
#footer { clear: both; }

.margin-left-only {
	margin-right: 10px;
}

.pad-content {
	padding: 10px 10px 0 10px;
}

.navbar-top .nav li a {
	padding: 9px 18px 11px;
}

.required {
	color: red;
}

.wideform {
	width: 350px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}