@bg : gray;

body{
    background-color:gray;
}

.clearblockfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#page {
     background-color:lighten(@bg,40%);
}

    #m_panel{
	width:100%;
	height:40px;
	background-color:lighten(@bg,40%);
	>ul{	    
	    float:left;
	    list-style:none;
	}
	.bar p {
	    overflow:visible;
	    color: white;
	    font-size: 12px;
	    text-align: center;
	    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	}
	
    }


    #m_lib{
	clear:left;
	width:100%;
	height:100px;
	background-color:@bg+#123;
	padding:10px;
    }

    #m_device{
	height:100px;
	width:100%;
    }

    #content{
	padding:10px;
	clear:left;
    }
    #footer{
	clear:left;
	padding:10px;
    }

#lib_menu{
    >li{
      list-style:none;
      display:block;
      width:300px;
      height:50px;
      display:inline-block;
      vertical-align:middle;
      align:center;
    }

}


.lib_content {
.items > ul{
    list-style:none;
    >li{
	img{
	     width:45px;
	     height:50px;
	     border: 1px solid white;
	}
	float:left;
	margin-left:10px;
	width:50px;
	height:70px;
	overflow:hidden;
    }
}
 .ext{
    clear:left;
   #items_unt{ 
     
     max-width:70%;
     >ul{
	float:none;
	list-style:none;
	>li{
	    img{
		 width:45px;
		 height:50px;
		border: 1px solid white;
	    }
	    display:inline-block;
	    vertical-align:top;
	    margin-left:10px;
	    width:50px;
	    height:auto;
	    overflow:hidden;
	    .selected {
		word-wrap:break-word;
	    }
	}
    }
    }
    .items_add{
	margin-right:5px;
	float:right;
	.input-file{
	    height:22px;
	    width:90px;
	    overflow:hidden;
	    display:block;	    
	}
	#FileUpload{
	   height:0;
	   display:hidden;
	   opacity: 0;
	   -moz-opacity: 0;
	    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	}

    }
}
}




    #m_goods, #search_result_goods{
	clear:left;
	height:auto;
	padding:10px;
	background-color:@bg + #333;
	
	.chess{
	    text-align:center;
	    max-width:100px;
	    display:inline-block;
	    vertical-align:top;
	    overflow:hidden;
	    margin-left:5px;
	    clear: right;
	    margin: 3px;
	}
    }