<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<browser name="Firefox" browser="*firefox C:/Documents and Settings/All Users/Application Data/Mozilla Firefox/firefox.exe" />
	</selenium>

</phpunit>