html,body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;  
}


#container{   
    min-height:81%;
    width:85%;
    padding:1% 5% 1% 10%;
    margin:0;
    overflow: visible;
    
}
.clearfix{clear: both;  content: ".";  display: block;  height: 0;  visibility: hidden;}
#container:after{
    clear: both;  content: ".";  display: block;  height: 0;  visibility: hidden;
}

#header{

    font-size:0.9em;
    margin:0;
    width:85%;
    height:3%;
    background-color: #246;
    color:white;
    padding:1% 5% 1% 10%;
    overflow:hidden;
}

#footer{
    font-size:0.8em;
    height:4%;
    width:85%;
    margin:0;
    background-color: #123;
    color:white;
    padding:1% 5% 1% 10%;
    overflow:hidden;
}

.fleft{ float:left;}
.fright{ float:right;}

.Panel_V{
    float:left;
    height:100%;
    overflow:visible;
}

.Panel_H{   
    width:100%;
    overflow:auto;
}
.P_section_1{
    width:13%;
    padding:1% 1%;
}
.P_section_2{
    width:83%;
    padding: 1% 1%;
}

.P_section_p50{
    width:45%;
    padding:1%;
}

.ItemList_v_1{
    padding:0;
    margin:0;
}
.ItemList_v_1 li{
    list-style: none;
    display:block;
    padding:3px 2px;        
    margin:0px 0 20px 0;
}
.ItemList_v_1 li.active{
    background-color: #09f;
    color:#DDD;
}
.ItemList_v_1 li.active a,.ItemList_v_1 li.active a:visited{
    color:#DDD;
}
.ItemList_v_1 li a,.ItemList_v_1 li a:visited{
    color:#555;
    text-decoration: none;
}

/* Forms */

.form_t1  h3,h4{
    color:#b2a266;
}
.form_t1 a,.form_t1 a:visited{
    color:#09f;
    text-decoration: none;
}

.form_t1  label,
.form_t1  input{
    line-height: 24px;
    font-size: 16px;
}
.form_t1  label{
    font-weight: bold;
}
.form_t1 input{
    padding:2px 5px;
}
span.required{color:red}
.errorMessage{color:red}
/* Files */
#folders{
    float:left;margin:1%; width:10%;
}
#files{
    float:left;margin:1%; width:86%;
}
#file_list{
    list-style:none;float:left;
}
#file_list li{
    float:left; margin:10px 0 0 30px;  
    width:45px;
    text-align:center;
}    

#file_list li img{
    width:45px;
    height:50px;
    border: 1px solid white;
}
#file_list li.selected img{        
    border: 1px solid blue;        
}
#file_list li.elem  img{
    border: 1px inset gray;
}
#file_list{
    max-height:400px;
    overflow:auto;
}
#FileList .options{
    list-style: none; 
}

#FileList .options li{ 
    float:left; margin:5px 0 0 5px;
}

/* Top_menu */
#top_menu{
    display: inline;
}
#top_menu li{
    display:inline;
    list-style: none;
}
#top_menu li a,#top_menu li a:visited{
    color:white;
}